.card :hover .card-title{
  color: white;
  /* transition: 0.7s; */
}

.card :hover .card-text{
  color: white;
  /* transition: 0.7s; */
}

.card :hover{
  background-color: #0D6EFD;
  transition: 1.7s;
}

.card{
  transition: background-color 0.5s ease;
}


